.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.header {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 2rem 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.formulario__input {
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid #a5a5a5;
  width: 10rem;
}

@media (min-width: 768px) {
  .formulario__input {
    width: 20rem;
  }
}

.formulario__boton {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
}

.boton__svg {
  background-color: #FFF;
  /* stroke: #000; */
  padding: 0.25rem;
  border: 1px solid #282c34;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.boton__svg:hover {
  background-color: #282c34;
  stroke: #FFF;

}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.fotos {
  columns: 1;
}

@media (min-width: 768px) {
  .fotos {
    columns: 3;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}



h1 {
  text-align: center;
}

.botones {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.boton {
  border: 1px solid #282c34;
  background-color: #FFF;
  font-weight: bold;
  color: #282c34;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  border-width: 2px;
  transition: all .3s ease-in-out;
}

.boton:hover {
  color: #FFF;
  background-color: #282c34;
}